@mixin vertical-align{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
@mixin horizontal-align{
    margin: 0 auto;
}
body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: absolute;
    background-color: rgb(241, 241, 241);
    font-family: Bebas;
}
#intro{
    width: 100%;
    margin-top: 10%;
    margin-bottom: 3%;
    text-align: center;
    text-transform: uppercase;
    color: lightgray;
}
#intro h1{
    @include vertical-align;
    font-size: 3.5em;
    letter-spacing: 4px;
}
#spinner{
    @include horizontal-align;
    margin: 0 auto;
    
    text-align: center;
    text-transform: uppercase;
    color: #3872bf;
    letter-spacing: 4px;
    -webkit-perspective: 0;
    -moz-perspective: 0;
    perspective: 0;
}
#spinner h1{
    /*@include vertical-align;*/
    font-size: 3.5em;
}
/*.container {
    @include horizontal-align;
    margin: 0 auto;
    width: 1000px;
    height: 280px;
    position: relative;
    perspective: 1000px;
}
#carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
}

#carousel figure {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 10px;
    top: 10px;
    border: 2px solid #3872bf;
    backface-visibility: hidden;
}
#carousel figure h1{
    @include vertical-align;
    text-align: center;
    text-transform: uppercase;
    color: #3872bf;
    font-size: 3.5em;
    letter-spacing: 4px;
}
#carousel figure:nth-child(1) { 
    transform: rotateY(   0deg ) translateZ( 500px ); 
}
#carousel figure:nth-child(2) { 
    transform: rotateY(  90deg ) translateZ( 500px ); 
}
#carousel figure:nth-child(3) { 
    transform: rotateY(  180deg ) translateZ( 500px ); 
}
#carousel figure:nth-child(4) { 
    transform: rotateY( 270deg ) translateZ( 500px ); 
}*/
#end{
    width: 100%;
    margin-top: 3%;
    margin-bottom: 10%;
    text-align: center;
    text-transform: uppercase;
    color: lightgray;
}
#end h1{
    @include vertical-align;
    font-size: 3.5em;
    letter-spacing: 4px;
}
#more{
    @include horizontal-align;
    margin: 0 auto;
    width: 300px;
    height: 100px;
}
